# Print

In [1]:
print("HEllo")

HEllo

In [2]:
"""
Hello
This is a Multiline Comment also known as docstring
To print this comment from a function use
print(functionname.__doc__)
"""

name = "Satish"
print("Hello",name) #add space
print("Hii"+name)
print(f"Hii {name} How are you")
print()

Hello Satish
HiiSatish
Hii Satish How are you

# Input

In [3]:
name = input("Enter your name : ")

Enter your name : Satish

In [5]:
name = input("Enter your name: ")  # String Input  
age = int(input("Enter your age: ")) # Integer Input  
marks = float(input("Enter your marks: ")) # Float Input  
print("The name is:", name)  
print("The age is:", age)  
print("The marks is:", marks)

Enter your name: Satish
Enter your age: 22
Enter your marks: 90
The name is: Satish
The age is: 22
The marks is: 90.0

Variables

In [6]:
x,y,z = "Satish","Harsh","Rohan"
print(x)

Satish

In [7]:
x = y = z = "Satish"
print(y)

Satish

Control Structures : If else, while, for

In [8]:
a,b = 10,20
if(a>b):
    print("Hii")
else:
    print("Hello")

Hello

In [10]:
a = 3
b = 0
while(b<3):
    print(b)
    b+=1

0
1
2

In [16]:
x = range(6)
for n in x:
    print(n)

0
1
2
3
4
5

In [15]:
for i in range(0,4):
    print(i)

0
1
2
3

In [14]:
for i in range(3,-1,-1):
    print(i)

3
2
1
0

Typecasting

In [ ]:
x = str(3)    # x will be '3'
print(x)
type(x)

In [ ]:
y = int(3)    # y will be 3
print(y)
type(y)

In [ ]:
z = float(3)  # z will be 3.0
print(z)
type(z)

Strings

Looping

Exception Handling

Three type of errors
1. Compile time error - Syntax error
2. Run time
3. Logical error

# Exception happens at runtime
In Python ,built in  exceptions from BaseException

try:
    statements
except errorname:
    statements
    or 
except errorname as e:
    print(e)
else:
    statements
finnaly:
    statements
    
exception handling will keep running the program even if there are errors

In [12]:
def concate(a,b):
    try:
        return "Sum of a and b is",a+b
    except TypeError:
        return "Type Mismatch"
print(concate(1,"S"))
print(concate(1,2))

Type Mismatch
('Sum of a and b is', 3)

# Functions, Modules, Imports

What is a function?
Function contains a group of statements to perform a task

Advantages of functions?
- reusable
- modularity

In [7]:
a = int(input("Enter no1 : "))
b = int(input("Enter no2 : "))
def concate(a,b):
    return a+b
print("Sum of a and b is ",concate(a,b))

Enter no1 : 2
Enter no2 : 3
Sum of a and b is  5

In [21]:
def fact(n):
    """"""
    for i in range(1,n):
        n*=i
    return n
f = fact(5)
print(f)

120

In [22]:
def fact(n):
    """"""
    ans = 1
    while(n>=1):
        ans = ans * n
        n-=1
    return ans
f = fact(5)
print(f)

120

How to return multiple values from python?
Python return multiple values in tuple

In [31]:
def sum_sub(a,b):
    c = a+b
    d = a-b
    return c,d
c,d = sum_sub(20,10)
print(c)
print(d)

30
10

To take n no of arguments
def fname(fa,*args)
To have key value pair dictionary
def fname(fa,**kwargs)

Recursion & Memoization

Lambda or anoymous function
syntax -> lambda argument_list: function
ex -> lambda x : x*x
filter()
map()
reduce()

Function Decorators

pass by object ref
id(variable)

In [39]:
a = 10
print(id(a))
a = 9
id(a)

140254473929232

140254473929200

Object oriented programming in Python

Lists & List functions

Regular Expressions

List comprehension

List slicing

String formatting

Lambdas

List, Dictionaries & Tuples

List is a collection which is ordered and changeable. Allows duplicate members.
Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
Dictionary is a collection which is ordered** and changeable. No duplicate members.

For list , it is for mix values
For Tuple , when same data type

Tuple is immutable ordered, Allow duplicate